[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorama = "==0.4.4"
commonmark = "==0.9.1"
prompt-toolkit = "==1.0.14"
regex = "==2022.1.18"
rich = "==11.1.0"
six = "==1.16.0"
wcwidth = "==0.2.5"
Pygments = "==2.11.2"
PyInquirer = "==1.0.3"
inquirer = "*"

[dev-packages]

[requires]
python_version = "3.10"
